<template>
    <h1 -content>title: {{title}} & {{test}}</h1>
    <input -value="initVal">
    <ul -loop="item => list">
        <li :class="className">
            #<span -content>{{item}}</span>
            <button _click="doSomething">click</button>
        </li>
    </ul>
    <button _click="hey">click</button>
</template>

<script>
    window.a = 1;

    function foo() {
        alert(1);
    }

    let model = {
        title: 'title 2',
        test: 'test 2',

        static: {
            title: 'title',
            items: ['item 1', 'item 2']
        },

        computed: {},

        methods: {
            doSomething: () => {
                alert(1);
                console.log('i did something');
            }
        }
    };
</script>

<style></style>
