<template>
    <h1 -content>title: {{title}} & {{test}}</h1>
    <input -value="initVal">
    <h6 -show="title">item in array</h1>
    <input -value="initVal">

    <ul -loop="arrrrrrr in enum">
        <li :class="className" _click="listItemClick">
            #<span -content>{{arrrrrrr}}</span>
            <button _click="doSomething">click</button>
        </li>
    </ul>
    <hr>
    <h6>item in list</h1>
    <ol -loop="val in items">
        <li :class="className" _click="listItemClick">
            #<span -content>{{val.item}}</span>
            <button _click="doSomething" -if="val.item=='one'">this is item 2</button>
        </li>
    </ol>
    <hr>
    <h6>loop list</h1>    
    <ul -loop="items">
        <li :class="className" _click="listItemClick">
            #<span -content>{{item}}</span>
            <button _click="doSomething" -if="id==1">this is item 1</button>
        </li>
    </ul>

    <button _click="hey">click</button>
</template>

<script>
    window.a = 1;

    function foo() {
        alert(1);
    }

    let model = {
        title: 'title 2',
        test: 'test 2',

        static: {
            title: 'title',
            items: ['item 1', 'item 2']
        },

        computed: {},

        methods: {
            doSomething: () => {
                alert(1);
                console.log('i did something');
            }
        }
    };
</script>

<style></style>
